@tailwind base;
@tailwind components;
@tailwind utilities;
.header-ul hr {
  @apply opacity-5;
}
.header-li {
  @apply w-[90%] rounded-xl pl-2 pb-1 border-orange-500;
}

.scrollbar-hide {
  @apply overflow-auto; /* Ensure scrolling functionality */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* WebKit Browsers */
}

.page {
  @apply w-full h-screen sm:overflow-hidden scrollbar-hide overflow-hidden;
}

.header-ul1 li {
  @apply hover:font-semibold transition-all duration-100;
}
.page-div {
  @apply flex-shrink-0 w-full;
}
.skill-div {
  @apply w-[150px] h-[150px] sm:w-[200px] bg-slate-900 text-center content-center rounded-xl hover:opacity-75 transition-opacity duration-100;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce {
  animation: bounce 1s ease-out;
}
